.kall {
    float: left;
    margin: 5px;
    padding: 15px;
    max-width: 300px;
    height: 300px;
    border: 1px solid black;
}

a{
    color: blue;
    text-decoration: none;
}

a:hover{
    background-color: yellow;
}

#kallandianismen{
    font-size: 20px;
}

#kallandianismen_h1{
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
}