.kall {
    font-size: 20px;
}

a{
    color: blue;
    text-decoration: none;
}

a:hover{
    background-color: yellow;
}

#kallandianismen{
    font-size: 20px;
}

#kallandianismen_h1{
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
}